.fs-mini { /* 文字，很小*/
    font-size: 0.75rem;
    line-height: 1rem;
}

.fs-small { /* 文字，小*/
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.fs-medium { /* 文字，中*/
    font-size: 1rem;
    line-height: 1.5rem;
}

.fs-big { /* 文字，大*/
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.fs-large { /* 文字，巨大*/
    font-size: 1.5rem;
    line-height: 2rem;
}

.c-black { /* 文字，黑色*/
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
}


.c-white { /* 文字，白色*/
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.c-gray { /* 文字，灰色*/
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));
}

.c-brand { /* 颜色，主色调(Element蓝)*/
    --tw-text-opacity: 1;
    color: rgba(64, 158, 255, var(--tw-text-opacity));
}

.c-success { /* 颜色，成功(Element绿)*/
    --tw-text-opacity: 1;
    color: rgba(103, 194, 58, var(--tw-text-opacity));
}

.c-warning { /* 颜色，警告(Element黄)*/
    --tw-text-opacity: 1;
    color: rgba(230, 162, 60, var(--tw-text-opacity));
}

.c-danger { /* 颜色，危险(Element红)*/
    --tw-text-opacity: 1;
    color: rgba(245, 108, 108, var(--tw-text-opacity));
}

.c-info { /* 颜色，信息(Element灰)*/
    --tw-text-opacity: 1;
    color: rgba(144, 147, 153, var(--tw-text-opacity));
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-box {/* 弹性盒子 */
	display: flex;
}


.mar-left-small {
	margin-left: 10px;
}
.mar-top-samll {
	margin-top: 10px;
}
.mar-top-medium {
	margin-top: 20px;
}
.mar-all-small {
	margin: 10px;
}